@font-face {
    font-family: "GeosansLight";
    src: url("../src/assets/fonts/GeosansLight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

h1, h2 {
  font-family: "GeosansLight";
}

body {
  position: relative; /* Ensure the body element can position the overlay */
  background-image: url('./assets/img/nms_background2.webp');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ensure the body takes the full height of the viewport */
}

body::before {
  content: ''; /* Necessary for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .75); /* Tint color (black in this case) with opacity */
  z-index: -1; /* Make sure the overlay is behind the content */
}