@font-face {
  font-family: "GeosansLight";
  src: url("/src/assets/fonts/GeosansLight.woff") format("woff"); /* Consider woff2 for better compression */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improve perceived performance */
}

/* Import Radix styles first */
@import "@radix-ui/themes/styles.css";

/* Use @tailwind to import Tailwind layers */
@import "tailwindcss/theme.css" layer(theme);
/* THEN import Tailwind's preflight */
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/* Apply custom font styles using Tailwind's @layer directive */
@layer base {
  h1,
  h2 {
    font-family: "GeosansLight", sans-serif;
  }
}

/* Background styles */
body {
  /* Combine background properties */
  background: url("/src/assets/img/nms_background2.webp") center/cover fixed;
  height: 100vh; /* Consider min-height: 100vh for content exceeding viewport height */
}

/* Background overlay */
body::before {
  content: "";
  position: fixed; /* Covers the entire screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

/* styles.css or App.css */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
