@font-face {
  font-family: "GeosansLight";
  src: url("/src/assets/fonts/GeosansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceSans";
  src: url("/assets/fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Import Radix styles first */
@import "@radix-ui/themes/styles.css";

/* Use @tailwind to import Tailwind layers */
@import "tailwindcss/theme.css" layer(theme);
/* THEN import Tailwind's preflight */
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/* Apply custom font styles using Tailwind's @layer directive */
@layer base {
  h1,
  h2 {
    font-family: "GeosansLight", sans-serif;
  }
}

.radix-themes {
  --default-font-family: "SourceSans", sans-serif;
}

/* Background styles */
body {
  /* Combine background properties */
  background: url("/src/assets/img/nms_background3.jpg") center/cover fixed;
  height: 100vh; /* Consider min-height: 100vh for content exceeding viewport height */
}

/* Background overlay */
body::before {
  content: "";
  position: fixed; /* Covers the entire screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.glow {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

/* styles.css or App.css */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.dark,
.dark-theme {
  --blue-1: #0c161e;
  --blue-2: #0f1a24;
  --blue-3: #092a40;
  --blue-4: #003558;
  --blue-5: #00426a;
  --blue-6: #0d507b;
  --blue-7: #1b6191;
  --blue-8: #2176af;
  --blue-9: #36a1ea;
  --blue-10: #2595dd;
  --blue-11: #6dbdfb;
  --blue-12: #c5e5ff;

  --blue-a1: #00df0005;
  --blue-a2: #00f50009;
  --blue-a3: #00d8fc1f;
  --blue-a4: #00aaff3b;
  --blue-a5: #00abff50;
  --blue-a6: #06b1ff64;
  --blue-a7: #25b2ff7e;
  --blue-a8: #29b0ffa1;
  --blue-a9: #39b0fee7;
  --blue-a10: #28acfed8;
  --blue-a11: #6fc0fefb;
  --blue-a12: #c5e5ff;

  --blue-contrast: #fff;
  --blue-surface: #0d222380;
  --blue-indicator: #36a1ea;
  --blue-track: #36a1ea;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --blue-1: oklch(19.4% 0.0214 243.3);
      --blue-2: oklch(21.4% 0.0243 243.3);
      --blue-3: oklch(27.4% 0.0559 243.3);
      --blue-4: oklch(31.6% 0.0833 243.3);
      --blue-5: oklch(36.4% 0.0906 243.3);
      --blue-6: oklch(41.5% 0.0944 243.3);
      --blue-7: oklch(47.6% 0.102 243.3);
      --blue-8: oklch(54.6% 0.1182 243.3);
      --blue-9: oklch(68.2% 0.1436 243.3);
      --blue-10: oklch(64.4% 0.1436 243.3);
      --blue-11: oklch(77.3% 0.1189 243.3);
      --blue-12: oklch(90.8% 0.0495 243.3);

      --blue-a1: color(display-p3 0 0.9961 0 / 0.017);
      --blue-a2: color(display-p3 0 0.9961 0 / 0.034);
      --blue-a3: color(display-p3 0.1059 0.8549 1 / 0.115);
      --blue-a4: color(display-p3 0.0902 0.6745 1 / 0.221);
      --blue-a5: color(display-p3 0.1608 0.6784 1 / 0.303);
      --blue-a6: color(display-p3 0.2588 0.702 1 / 0.381);
      --blue-a7: color(display-p3 0.3255 0.7137 1 / 0.478);
      --blue-a8: color(display-p3 0.3412 0.702 1 / 0.611);
      --blue-a9: color(display-p3 0.3765 0.702 0.9961 / 0.877);
      --blue-a10: color(display-p3 0.3412 0.6902 1 / 0.817);
      --blue-a11: color(display-p3 0.5176 0.7608 0.9961 / 0.959);
      --blue-a12: color(display-p3 0.8078 0.9059 1 / 0.987);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.0706 0.1333 0.1294 / 0.5);
      --blue-indicator: oklch(68.2% 0.1436 243.3);
      --blue-track: oklch(68.2% 0.1436 243.3);
    }
  }
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(19.4% 0.0093 250.2);
      --gray-2: oklch(22.3% 0.0098 250.2);
      --gray-3: oklch(25.8% 0.014 250.2);
      --gray-4: oklch(28.5% 0.018 250.2);
      --gray-5: oklch(31.3% 0.0202 250.2);
      --gray-6: oklch(34.7% 0.0245 250.2);
      --gray-7: oklch(39.8% 0.0298 250.2);
      --gray-8: oklch(49% 0.0383 250.2);
      --gray-9: oklch(53.7% 0.0376 250.2);
      --gray-10: oklch(58.3% 0.0349 250.2);
      --gray-11: oklch(76.8% 0.0255 250.2);
      --gray-12: oklch(94.9% 0.0068 250.2);

      --gray-a1: color(display-p3 0.3725 0.9765 0 / 0.013);
      --gray-a2: color(display-p3 0.7098 0.9843 0 / 0.043);
      --gray-a3: color(display-p3 0.7961 1 0.3529 / 0.076);
      --gray-a4: color(display-p3 0.7765 0.9961 0.6275 / 0.106);
      --gray-a5: color(display-p3 0.7922 0.9922 0.7529 / 0.136);
      --gray-a6: color(display-p3 0.7961 1 0.8706 / 0.173);
      --gray-a7: color(display-p3 0.8118 1 0.9725 / 0.233);
      --gray-a8: color(display-p3 0.7843 0.9255 0.9961 / 0.363);
      --gray-a9: color(display-p3 0.8039 0.9333 1 / 0.423);
      --gray-a10: color(display-p3 0.8353 0.9412 1 / 0.478);
      --gray-a11: color(display-p3 0.8941 0.9529 1 / 0.725);
      --gray-a12: color(display-p3 0.9804 0.9882 1 / 0.941);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.7% 0.0376 250.2);
      --gray-track: oklch(53.7% 0.0376 250.2);
    }
  }
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #121226;
}

/* Grid Cell Styles (BEM) */
.gridCell {
  /* Base styles for all grid cells */
}

.gridCell--interactive {
  /* Styles for grid cells interaction*/
  cursor: pointer;
}

.gridCell--active {
  /* Styles for active grid cells */
  border-color: var(--blue-9);
}

.gridCell--inactive {
  /* Styles for inactive grid cells */
  border-color: var(--blue-7);
  transition: border-color 0.25s ease;
}

.gridCell--interactive:hover {
  /* Styles for hovered grid cells */
  background-color: var(--blue-a5);
  transition: opacity 0.25s ease, background-color 0.25s ease;
}

.gridCell--supercharged {
  /* Styles for supercharged grid cells */
  border-color: #e6c133;
  transition: border-color 0.25s ease;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(10, 64px) auto;
  grid-template-rows: repeat(6, 64px);
  gap: 8px;
}

.gridInstructions {
  grid-column: 1 / span 8;
  grid-row: 7;
}

.gridReset {
  grid-column: 9 / span 2;
  grid-row: 7;
}

.gridResults {
  grid-column: 1 / span 10;
  grid-row: 8;
}
